#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=link --ipv6=auto --activate

# Root password
# to generate password, use the python one-liner:
# python -c 'import crypt,getpass; print(crypt.crypt(getpass.getpass(), crypt.mksalt(crypt.METHOD_SHA512)))'
# it will output the corresponding SHA-512 hashed version of that password using a randomly generated salt value
rootpw --iscrypted ${your_pw}

# System services
services --disabled="chronyd"

# System timezone
timezone Europe/Berlin --isUtc --nontp

# User creation
user --groups=wheel --name=admin --password=${your_pw} --iscrypted --gecos="admin"

#
# System bootloader configuration
#

bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --drives=sda --all --initlabel

# Partition configuration
autopart --type=lvm

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post

#!/bin/bash

mkdir -p /home/admin/.ssh

echo "
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
SyslogFacility AUTHPRIV
AllowUsers admin 
PermitRootLogin yes
AuthorizedKeysFile      .ssh/authorized_keys
PasswordAuthentication yes
ChallengeResponseAuthentication no
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
UsePAM yes
X11Forwarding yes
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS
Subsystem       sftp    /usr/libexec/openssh/sftp-server
" > /etc/ssh/sshd_config

systemctl enable sshd
systemctl start sshd

# put your own public ssh-key here
echo "
ssh-rsa ${your public ssh-key}
" > /home/admin/.ssh/authorized_keys

chown -R admin:admin /home/admin
chmod 600 /home/admin/.ssh/authorized_keys
%end

reboot
